/* Smartphone Portrait */
body{
    background-color: #00e1ff;
}

/* Smartphone Landscape */
@media (min-width: 576px){ /*a partir de 576px ele quebra (breakpoint) a página*/
    body{
        background-color: #ffbb00;
    }
}

/* Ipad Portrait */
@media (min-width: 768px){ /*a partir de 768px ele quebra (breakpoint) a página*/
    body{
        background-color: #ff00c8;
        color: #ffff
    }
}

/* Ipad Landscape */
@media (min-width: 992px){ /*a partir de 992px ele quebra (breakpoint) a página*/
    body{
        background-color: #7700ff;
    }
}

/* Notebooks/PCs/SmartTV */
@media (min-width: 1200px){ /*maior de 1200px ele quebra (breakpoint) a página*/
    body{
        background-color: #00ff88;
        color: #000;
    }
}